article.card {
    background-color: white;
    box-shadow: 0 0 5px 0px rgba(213, 213, 213, 0.5),
 	-2px 9px 20px 0px rgba(213, 213, 213, 0.5);
    border-radius: 15px;
    width: 250px; height: 370px;
    position: relative;
}

div.stickerPrice {
    border-radius: 100%;
    position: absolute;
    top: 165px; left: 10px;
    width: 45px; height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 0px rgba(213, 213, 213, 0.5),
 	-2px 9px 20px 0px rgba(213, 213, 213, 0.5);
    font-size: small;
}

div.cardImgCont {
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

div.cardImgCont>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.cardTxtCont {
    padding: 5px 17px;
    text-align: center;
}

.cardTxtCont>p {
    font-size: 0.8em;
}